
body {
  background-color: rgb(10, 147, 150);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  
h1 {
    color: rgb(0, 18, 25);
    background-color: blanchedalmond;
    text-align:center;
    border-radius: 50%;
  }

p {
  background-color: blanchedalmond;
  text-align: center;
  border-style:solid;
  border-width:  1px;
}

a:link, a:visited {
    background-color: blanchedalmond;
    color: rgb(155, 34, 38);
    font-size: large;
    text-align:center;
    text-decoration: none;
    display: inline-block;
}

grid-container {
  display: grid;
  justify-items: end;
  grid-template-columns: auto auto auto auto;
  gap: 50px;
}

img {
  border-radius: 3%;
  width: 40%;
  height: 40%;
}

h4 {
  background-color: darkgoldenrod;
  opacity: 90%;
  text-align: right;
  text-decoration: none;
}



